<div class="body">
    <div class="login">
        <mat-card *ngIf="!loading">
            <form [formGroup]="form" (ngSubmit)="ingresar()">
                <h1>Iniciar sesión</h1>
                <br>
                <img src="assets/img/login.png" style="width: 30%; background-color: black; border-radius: 50px;">
                <br>
                <br>
                <mat-form-field appearance="fill" style="width: 80%;">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario">
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 80%;">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button color="primary" style="height: 50px; width: 80%; background-color: #04549c;">Ingresar</button>
            </form>
        </mat-card>
        <mat-spinner *ngIf="loading" class="loading" diameter="60"></mat-spinner>
    </div>
</div>
