.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login{
    width: 100%;
    max-width: 330px;
    margin-bottom: 5%;
    text-align: center;
    z-index: 1;
}

.loading{
    margin: 0 auto;
    z-index: 1;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.mat-card{
    box-shadow: 1px 1px 1px 1px;
    margin-bottom: 40%;
    background-color: rgb(240, 236, 236);
}

@media screen and (max-width: 428px){
    .mat-card{
        margin-bottom: 60%;
    }
}

@media screen and (max-width: 400px){
    .mat-card{
        margin-top: 10%;
    }
}